fastapi==0.115.12
uvicorn[standard]==0.34.2
numpy>=1.24
sherpa-onnx==1.12.40
pydantic==2.11.4
python-multipart==0.0.20
soundfile==0.13.1
huggingface_hub>=0.30.0
librosa>=0.10.0
loguru>=0.7.0
jieba>=0.42.1
langid>=1.1.6
accelerate>=0.26.0
dacite>=1.8.0
vector_quantize_pytorch>=1.14.0
descript-audio-codec>=1.0.0
pydub>=0.25.1
omegaconf>=2.3.0
json_repair>=0.30.0
transformers>=4.45.1,<4.47.0
